@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-header: rgba(248, 247, 245, 1);
  --font-roboto: "Roboto";
  --color-whychooseus: #89705b;
}

@layer base {
  h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 32px;
  }
}

@layer components {
  Header {
  }
}

@layer utilities {
  container {
  }
}
